html {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --grid-rows: 4;
    --grid-columns: 4;
    --dark-bg: rgb(80, 80, 80);
    --pen-color: black;
}

body {
    margin: 0;
    background-color: var(--dark-bg);
}

h1 {
    text-align: center;
    color: lightgrey;
    margin: 0;
    padding: 20px;
}

.body-div {
    display: flex;
    margin: 0;
    background-color: lightgrey;
    color:var(--dark-bg);
    padding: 0 8% 0 15%;
}
.sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    justify-content: center;
    background-color: mediumaquamarine;
    padding-bottom: 10%;
    font-weight: bold;
}
button {
    width: 80%;
    background-color: var(--dark-bg);
    color: lightgrey;
    height: 50px;
    border-radius: 15px;
    border: 2px solid lightgrey;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    transition: all 0.3s ease;
    cursor: pointer;
    
}

button:not(:active):hover {
    transform: scaleY(1.1);
    color: mediumvioletred;
    border-color: mediumvioletred;
    font-weight: bold;
}


.toggled {
    color: palevioletred;
    border: 3px solid palevioletred;
}

.label {
    width: 200%;
    padding-bottom: 20px;
    text-align: center;
    font-size: 24px;
}

.colorpicker {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 120px;
}
.colorbox {
    appearance: none;
    width: 100px;
    height: 100px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}
.colorbox::-webkit-color-swatch {
    border-radius: 15px;
}

.content {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 5px 5px 8px #bbbbbb;
}

.grid-item:hover {
    background-color: var(--pen-color);
}

.slide-container {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.slider {
    appearance: none;
    width: 95%;
    height: 15px;
    background: var(--dark-bg);
    outline: none;
    opacity: 0.7;
    transition: all .2s;
    border-radius: 1px;
}
.slider:hover, .slider:active {
    opacity: 1;
  }
  
.slider::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    background: mediumaquamarine;
    cursor: pointer;
    
    transition: all 0.3s ease;
    border-radius: 1px;
}
.slider::-webkit-slider-thumb:hover,.slider::-webkit-slider-thumb:active {
    background: mediumvioletred;
    transform: scale(1.5);

}
.slider::-moz-range-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    background: mediumseagreen;
    cursor: pointer;
}

.resolution-display {
    font-size: 24px;
    padding-top: 10px;
}